/* @file main.css
* @brief Main styles for the site
*/

div, a, p, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

a {
    color: #12abc4;
    text-decoration: none;
}

a:hover {
    color: #108da2;
}

h3 {
    padding: 20px 0px;
    color: #666666;
}

#content {
    width:960px;
    margin:0px auto;
}

#top-header {
    width:inherit;
    height:135px;
    position:relative;
}

.logo {
    width:2000px;

    background-color:#12abc4;

    position:absolute;

    left:-1780px;
}

#logo1 {
    height:70px;
    top:10px;
}

#logo2 {
    height:35px;
    bottom:10px;
}

#logo1 img, #logo2 img {
    position:absolute;
    top:5px;
    right:10px;
}

.nav {
    width:140px;
    background-color:#77013a;
    color:#fff;
    padding:10px 0px;
    text-align:center;
    position:absolute;
    bottom:10px;
    font-size:14px;
}

.nav:hover {
    background-color:#680032;
    cursor: pointer;
}

#about {
    right:0px;
}

#portfolio {
    right:150px;
}

.open-project {
    width:inherit;
    height:500px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    background-color:#ffffff;
    position:relative;
    display:none;
}

.close-project-btn {
    position:absolute;
    top:10px;
    right:10px;
    font-size:12px;
    cursor:pointer;
}

.thumbnail {
    width:220px;
    height:165px;
    background-color:#ddd;
    margin:10px;
    float:left;
    cursor:pointer;
}

#content {
    margin-top:10px;
}

.content-column-1 {
    width:380px;
    margin-right:10px;
    float:left;
}

.content-column-2 {
    width:220px;
    margin-left:10px;
    float:left;
}

#image {
    padding:0px;
    margin:0px;
}

.img-right {
    float:right;
}

#project1 {
    height:880px;
}

#project2 {
    height: 3600px;
}

#project3 {
    height: 5200px;
}

#project5 {
    height: 1500px;
}

#project6 {
    height: 2400px;
}

#project7 {
    height: 880px;
}

#project8 {
    height: 4000px;
}

#project9 {
    height: 4700px;
}

#project10 {
    height: 6300px;
}

#project11 {
    height: 1800px;
}

#project12 {
    height: 1800px;
}

#text {
    color: #666666;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
}

@media only screen and (min-width: 1280px){
    #content {
        width:1200px;
        margin:0px auto;
    }

    .content-column-1 {
        width:950px;
        margin:0px 5px;
    }
}

#404 {
    height:300px;
    width:3000px;
    background-color:#f2c50d;
    position:absolute;
    left:-1780px;
}

.tape {
    height:300px;
    top:40px;
}
